/Plugins/Wwise/ThirdParty/Android_arm64-v8a/** filter=lfs diff=lfs merge=lfs -text
/Plugins/Wwise/ThirdParty/iOS/** filter=lfs diff=lfs merge=lfs -text
/Plugins/Wwise/ThirdParty/Mac/** filter=lfs diff=lfs merge=lfs -text
/Plugins/Wwise/ThirdParty/x64_vc160/** filter=lfs diff=lfs merge=lfs -text
/Plugins/EGOPhysics/Lib/Win64/** filter=lfs diff=lfs merge=lfs -text
/Plugins/EGOPhysics/Lib/Mac/** filter=lfs diff=lfs merge=lfs -text
/Plugins/EGOPhysics/Lib/IOS/** filter=lfs diff=lfs merge=lfs -text
/Plugins/EGOPhysics/Lib/Android/** filter=lfs diff=lfs merge=lfs -text
